@tailwind base;
@tailwind components;
@tailwind utilities;
.no-color {
  fill: none;
}
.gauge-color {
  fill: #c4e2ff;
}
.backPic {
  background-image: url(./assets/Ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 70%;
}
